<%= form_for(@tool) do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :loan_length %> (Days)
    <%= f.number_field :loan_length %>
  </div>

  <div>
    <%= f.label :condition %> (1 - 10)
    <%= f.number_field :condition %>
  </div>

  <div>
    <%= f.label :owner_pictures %>
    <%= f.file_field :owner_pictures, multiple: true %>
  </div>

  <div>
    <p>
      Select Categories:-
      <%= f.collection_check_boxes(:category_ids, Category.all, :id,  :category_name) %>
    </p>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
<hr>
