<%= form_for(@tool) do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br />

  <div>
    <%= f.label :description %> <br />
    <%= f.text_area :description %>
  </div>
  <br />

  <div>
    <%= f.label :loan_length %>
    <%= f.select :loan_length, ([["1 day",1], ["2 days",2], ["3 days",3], ["4 days",4], ["5 days",5], ["6 days",6], ["1 week",7], ["2 weeks",14], ["1 month",30]]) %>
  </div>
  <br />

  <div>
    <%= f.label :condition %>
    <%= f.select :condition, ((1..10).map {|i| [i,i] }) %>
  </div>
  <br />

  <div>
    <%= f.label :owner_pictures %>
    <%= f.file_field :owner_pictures, multiple: true %>
  </div>
  <br />

  <div>
    <%= f.label :category_ids, "Select Categories" %> <br />
    <%= f.collection_check_boxes(:category_ids, Category.all, :id,  :category_name) %>
  </div>
  <br />

  <div>
    <%= f.submit %>
  </div>

<% end %>
<hr>
