  <nav class='site-nav'>
    <a href = "/">
      <div class="logo">
      <%= image_tag "sharingthe6-01.png", class: "header-image" %>
    </div>
    </a>
      <div class="nav-links">

        <% if current_user %>
          <%= link_to "My Profile", user_path(current_user) %>
          <%= link_to 'Messages', chats_path %>
          <% if current_user.owned_chats.where("unread = ?", true).where("owner_reply = ?", false).count + current_user.chats.where("unread = ?", true).where("owner_reply = ?", true).count > 0 %>
            (<%= current_user.owned_chats.where("unread = ?", true).where("owner_reply = ?", false).count + current_user.chats.where("unread = ?", true).where("owner_reply = ?", true).count %>)
          <% end %>
          <%= link_to 'Add Tool', new_tool_path %>
          <%= link_to "Logout", :logout, method: :delete %>
        <% else %>
          <%= link_to "Register", new_user_path %>
          <%= link_to "Login", :login %>
        <% end %>
    </div>
    <div class="hamburger-menu">
      <%= image_tag "icon.png", id: "hamburger-menu" %>
    </div>
      <div class="dropdown-content">
        <% if current_user %>

          <%= link_to "My Profile", user_path(current_user) %>
          <%= link_to 'Messages', chats_path %>
          <% if current_user.owned_chats.where("unread = ?", true).where("owner_reply = ?", false).count + current_user.chats.where("unread = ?", true).where("owner_reply = ?", true).count > 0 %>
            (<%= current_user.owned_chats.where("unread = ?", true).where("owner_reply = ?", false).count + current_user.chats.where("unread = ?", true).where("owner_reply = ?", true).count %>)
          <% end %>
          <%= link_to 'Add Tool', new_tool_path %>
          <%= link_to "Logout", :logout, method: :delete %>
        <% else %>
          <%= link_to "Register", new_user_path %>
          <%= link_to "Login", :login %>
        <% end %>
      </div>
    </div>
  </nav>
