<!DOCTYPE html>
<html>
  <head>
    <title>Sharing the 6ix</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash.each do |key, message| %>
      <div class="flash-<%= key %>"><%= message %></div>
    <% end %>

    <header class="site-header">
      <h1 class="logo"><a href = "/">Sharing the 6ix</a></h1>

      <nav class="site-nav">
        <% if current_user %>
          <%= link_to "My Profile", user_path(current_user) %> |
          <%= link_to 'Add Tool', new_tool_path %> |
          <%= link_to "Logout", :logout, method: :delete %>
        <% else %>
          <%= link_to "Register", new_user_path %> |
          <%= link_to "Login", :login %>
        <% end %>
        <%= form_tag(tools_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :tool, params[:tool], placeholder: "Tool" %>
          <%= text_field_tag :nbhd, params[:nbhd], placeholder: "Neighbourhood" %>
        <%= submit_tag "Find tool" %>
        <% end %>
          </nav>
    </header>


    <%= yield %>
  </body>
</html>
