<!DOCTYPE html>
<html>
  <head>
    <title>ToolNetwork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash.each do |key, message| %>
      <div class="flash-<%= key %>"><%= message %></div>
    <% end %>

    <header class="site-header">
      <h1 class="logo"><a href = "/">Toronto Tool Network</a></h1>

      <nav class="site-nav">
        <% if current_user %>
          <%= link_to "My Profile", user_path(current_user) %> |
          <%= link_to 'Add Tool', new_tool_path %> |
          <%= link_to "Logout", :logout, method: :delete %>
        <% else %>
          <%= link_to "Register", new_user_path %> |
          <%= link_to "Login", :login %>
        <% end %>
        <%= form_tag(tools_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Tools" %>
        <%= submit_tag "Search" %>
        <% end %>
          </nav>
    </header>


    <%= yield %>
  </body>
</html>
