<% unless @user == current_user %>
  <p><%= @user.name %>'s Profile:</p>
<% end %>

<img src="<%= @user.avatar %>" alt="" class="avatar">

<% if @user.rating == 0 %>
  <p>Rating: not enough history</p>
<% else %>
  <p>Rating: <%= @user.rating %></p>
<% end %>

<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>Postal Code: <%= @user.postal_code %></p>
<%= link_to 'Add Tool', new_tool_path %>
<hr>

<% if @user == current_user && !@borrowed_tools.empty? %>
  <p>Active Loans</p>
  <ul>
    <% @borrowed_tools.each do |tool| %>
      <li class="tools">
        <% if tool.active_loan.overdue? %>
          (OVERDUE)
        <% end %>
        <p>Owner: <%= link_to("#{tool.owner.name}", user_path(tool.owner)) %></p>
        <p>Borrowed on: <%= tool.active_loan.start_date %></p>
        <p>Due: <%= tool.active_loan.due_date %></p>
      </li>
    <% end %>
  </ul>
<% end %>

<% if current_user = @user %>
  <% unless @tools_out_on_loan.empty? %>
    <p>Tools Out On Loan</p>
    <ul>
      <% @tools_out_on_loan.each do |tool| %>
        <li>
          <p>
            <strong><%= link_to("#{tool.name}", tool_path(tool)) %></strong>
            <% if tool.active_loan.overdue? %>
              (OVERDUE)
            <% end %>
          </p>
          <p>Borrower: <%= link_to("#{tool.current_borrower.name}", user_path(tool.owner)) %></p>
          <p>Lent on: <%= tool.active_loan.start_date %></p>
          <p>Due on: <%= tool.active_loan.due_date %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% unless @owned_tools.empty? %>
  <% if @user == current_user %>
    <p>My Inventory:</p>
  <% else %>
    <p><%= @user.name %>'s Inventory:</p>
  <% end %>
<% end %>

<ul>
  <% @owned_tools.each do |tool| %>
    <li class="tools">
     <p><strong><%= link_to("#{tool.name}", tool_path(tool)) %></strong></p>
     <p>Loan Length: <%= tool.loan_length %></p>
     <p>Condition: <%= tool.condition %></p>
     <p>Description: <%= tool.description %></p>
   </li>
  <% end %>
</ul>
