<% unless @user == current_user %>
  <p><%= @user.name %>'s Profile:</p>
<% end %>

<%= @user.photo %></br>
<% if @user.rating == 0 %>
  <p>Rating: not enough history</p>
<% else %>
  <p>Rating: <%= @user.rating %></p>
<% end %>

<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>Location: <%= @user.location %></p>
<%= link_to 'Add Tool', new_tool_path %>
<hr>

<% if @user == current_user && !@borrowed_tools.empty? %>
  <p>My Borrowed Tools:</p>
  <ul>
    <% @borrowed_tools.each do |tool| %>
      <li class="tools">
        <p>Tool: <%= tool.name %></p>
        <p>Owner: <%= tool.owner.name %></p>
        <p>Borrowed on: <%= get_loan(@user, tool).start_date %></p>
        <p>Due: <%= get_loan(@user, tool).due_date %></p>
      </li>
    <% end %>
  </ul>
<% end %>

<% if !@owned_tools.empty? %>
  <% if @user == current_user %>
    <p>My Inventory:</p>
  <% else %>
    <p><%= @user.name %>'s Inventory:</p>
  <% end %>
<% end %>

<ul>
  <% @owned_tools.each do |tool| %>
    <li class="tools">
     <p><strong><%= tool.name %></strong></p>
     <p>On Loan: <%= tool.on_loan %></p>
     <p>Loan Length: <%= tool.loan_length %></p>
     <p>Condition: <%= tool.condition %></p>
     <p>Description: <%= tool.description %></p>
   </li>
  <% end %>
</ul>
