<div class="container">
    
  <h3>Log In</h3>

  <%= form_for :session, url: login_path do |f| %>

    <div class='field'>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <br>
    <div class='field'>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <%= f.submit 'Login' %>

  <% end %>
</div>
