<h2><%= @neighbourhood.name %></h2>

<h4>Popular tools in <%= @neighbourhood.name %>:</h4>
<% if @neighbourhood.tools.any? %>
  <% @neighbourhood.tools.each do |tool| %>
    <%= render '/tools/tool', tool: tool %>
  <% end %>
<% else %>
  <p>Be the first to share a tool here!</p>
<% end %>

<h4>Users in <%= @neighbourhood.name %>:</h4>
<% if @users_in_neighbourhood.any? %>
  <% @users_in_neighbourhood.each do |user| %>
    <% if user.avatar.url %>
      <%= link_to(user_path(user)) do %>
        <%= image_tag(user.avatar.url, border: 1, class: "img-responsive", size: "120x100" ) %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <p>There are no users here yet.</p>
<% end %>

<div id="map">
</div>

<script>
function initMap() {
  var centerOfMap = {lat: <%= @lat %>, lng: <%= @lng %>};

  var map = new google.maps.Map(
    document.querySelector('#map'), {
    zoom: 14,
    center: centerOfMap
  });

  var coordinates = <%= @coords %>

  for (var i = 0; i < coordinates.length; i++) {
    var marker = new google.maps.Marker({
      position: {
        lat: coordinates[i][0],
        lng: coordinates[i][1]
      },
      map: map
    })
  }

  // var rectangle = new google.maps.Rectangle({
  //   strokeColor: '#FF0000',
  //   strokeOpacity: 0.8,
  //   strokeWeight: 2,
  //   fillColor: '#FFE180',
  //   fillOpacity: 0.5,
  //   map: map,
  //   bounds: {
  //     north: <%= @north %>,
  //     south: <%= @south %>,
  //     east: <%= @east %>,
  //     west: <%= @west %>
  //   }
  // });

  var circle = new google.maps.Circle({
    strokeColor: '#FF0000',
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: '#FFE180',
    fillOpacity: 0.5,
    map: map,
    center: centerOfMap,
    radius: (<%= (@north - @south) / 2 %>) * 150000
  })
}
</script>

<script async defer  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4smff7b389AgWQAZkI1CqrR2nB7cs0xM&callback=initMap">
</script>
