<h1>All Tools</h1>

<% @tools.each do |tool| %>
  <div class=“tools”>

   <p class="tool-name">
     <%= link_to(tool.name, tool_path(tool)) %>
     <% if current_user && tool.chats.where("unread = ?", true).where("owner_reply = ?", true).where("user_id = ?", current_user.id).count > 0 %>
       (<%= tool.chats.where("unread = ?", true).where("owner_reply = ?", true).where("user_id = ?", current_user.id).count %>)
     <% end %>

   </p>
   <% if tool.owner_pictures[0] %>
     <%= image_tag("#{tool.owner_pictures[0]}", size: "120x100", alt: "No Image") %>
   <% end %>
   <p>Max loan Length: <%= tool.loan_length %> days</p>
   <p>Condition: <%= tool.condition %></p>
   <p>Description: <%= tool.description %></p>
   <hr>
  </div>
<% end %>
