<p><strong><%= @tool.name %></strong></p>
<br>

<% @tool.owner_pictures.each_with_index do |picture, index| %>
  <img src="<%= @tool.owner_pictures[index] %>" alt="", class="avatar">
<% end %>
</br>

<% if current_user == @tool.owner %>
  <button type="button" name="lend-tool">
    <%= link_to("Lend This Tool", new_tool_loan_path(@tool, @loan)) %>
  </button>

  <button type="button" name="get-tool-back" data-toolid="<%= @tool.id %>">Get Back Tool</button>
<% end %>

<p>On Loan: <%= @tool.on_loan %></p>
<p>Loan Length: <%= @tool.loan_length %></p>
<p>Condition: <%= @tool.condition %></p>
<p>Description: <%= @tool.description %></p>
<p><strong>To borrow this tool, contact: <%= @tool.owner.email %></strong></p>
<%= link_to("Back to Tools", tools_path) %>

<% if current_user == @tool.owner %>
  | <%= link_to("Edit", edit_tool_path(@tool)) %> | <%= link_to("Delete", tool_path(@tool), method: :delete, data: {confirm: "Are you sure you want to delete this tool?"}) %>
<% end %>
<hr>

<% if current_user && current_user != @tool.owner %>
  <h2>Chats</h2>
  <% @chats.each do |chat| %>
    <% if chat.owner_reply == true %>
      <H4><%= @tool.owner.name %></H4>
    <% else %>
      <h4>You</h4>
    <% end %>
    <%= render '/chats/chat', chat: chat %>
  <% end %>
  <%= render '/chats/form', chat: @chat %>
<% end %>

<h2>Reviews</h2>
<% if current_user != @tool.owner && (@tool.borrowers && @tool.borrowers.include?(current_user)) %>
  <%= render "shared/error", object: @review %>
  <%= render 'reviews/form', review: @review %>
<% end %>
<hr>

<% @tool.reviews.order(created_at: :desc).each do |review| %>
  <%= render 'reviews/review', review: review %>
<% end %>
