<p class="tool-name"><%= @tool.name %></p>
<br>

<% @tool.owner_pictures.each_with_index do |picture, index| %>
  <img src="<%= @tool.owner_pictures[index] %>" alt="", class="avatar">
<% end %>
</br>

<% if current_user == @tool.owner%>
  <button type="button" name="lend-tool", data-loan="<%= @tool.on_loan %>", style="display:none">
    <%= link_to("Lend This Tool", new_tool_loan_path(@tool, @loan)) %>
  </button>

  <button type="button" name="get-tool-back" data-toolid="<%= @tool.id %>", style="display:none">
    Get Back Tool
  </button>
<% end %>

<p>Loan Length: <%= @tool.loan_length %></p>
<p>Condition: <%= @tool.condition %></p>
<p>Description: <%= @tool.description %></p>
<% unless current_user == @tool.owner %>
  <p><strong>To borrow this tool, contact: <%= @tool.owner.email %></strong></p>
<% end %>

<div id="map">
</div>

<%= link_to("Back to Browse", tools_path) %>

<% if current_user == @tool.owner %>
  | <%= link_to("Edit", edit_tool_path(@tool)) %> | <%= link_to("Delete", tool_path(@tool), method: :delete, data: {confirm: "Are you sure you want to delete this tool?"}) %>
<% end %>
<hr>

<% if current_user && current_user != @tool.owner %>
  <h2>Messages</h2>
  <% @chats.each do |chat| %>
    <% if chat.owner_reply == true %>
      <H4><%= @tool.owner.name %></H4>
    <% else %>
      <h4>You</h4>
    <% end %>
    <%= render '/chats/chat', chat: chat %>
  <% end %>
  <%= render '/chats/form', chat: @chat %>
<% end %>

<h2>Reviews</h2>
<% if current_user != @tool.owner && (@tool.borrowers && @tool.borrowers.include?(current_user)) %>
  <%= render "shared/error", object: @review %>
  <%= render 'reviews/form', review: @review %>
<% end %>
<hr>

<% @tool.reviews.order(created_at: :desc).each do |review| %>
  <%= render 'reviews/review', review: review %>
<% end %>

<script>
function initMap() {
  var centerOfMap = {lat: <%= @lat %>, lng: <%= @lng %>};

  var map = new google.maps.Map(
    document.querySelector('#map'), {
    zoom: 14,
    center: centerOfMap
  });

  var marker = new google.maps.Marker({
    position: centerOfMap,
    map: map
  });
}
</script>

<script async defer  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4smff7b389AgWQAZkI1CqrR2nB7cs0xM&callback=initMap">
</script>
