
<p><strong><%= @tool.name %></strong></p>

<button type="button" name="lend-tool">
  <%= link_to("Lend This Tool", new_tool_loan_path(@tool, @loan)) %>
</button>

<button type="button" name="get-tool-back">Get Back Tool</button>

<% @tool.owner_images.each do |image| %>
  <%= image_tag("/owner_images/#{image.file_name}", size: "220x200") %>
<% end %>

<p>On Loan: <%= @tool.on_loan %></p>
<p>Loan Length: <%= @tool.loan_length %></p>
<p>Condition: <%= @tool.condition %></p>
<p>Description: <%= @tool.description %></p>
<p><strong>To borrow this tool, contact: <%= @tool.owner.email %></strong></p>
<%= link_to("Back to Tools", tools_path) %> | <%= link_to("Edit", edit_tool_path(@tool)) %> | <%= link_to("Delete", tool_path(@tool), method: :delete, data: {confirm: "Are you sure you want to delete this tool?"})  %>
<hr>

<h2>Reviews</h2>
<%= render "shared/error", object: @review %>
<%= render 'reviews/form', review: @review %>
<hr>

<% @reviews.each do |review| %>
  <%= render 'reviews/review', review: review %>
<% end %>
