  

  <div class=“tools”>
   <strong><p><%= @tool.name %></p></strong>
   <p>On Loan: <%= @tool.on_loan %></p>
   <p>Loan Length: <%= @tool.loan_length %></p>
   <p>Condition: <%= @tool.condition %></p>
   <p>Description: <%= @tool.description %></p>
   <hr>
  </div>
