<%= form_for user do |f| %>
  <div class="field">
     <%= f.label :name %><br />
     <%= f.text_field :name %>
   </div>
   <br />

  <div class="field">
     <%= f.label :email %><br />
     <%= f.email_field :email %>
  </div>
  <br />

  <div class="field">
     <%= f.label :password %><br />
     <%= f.password_field :password %>
  </div>
  <br />

  <div class="field">
     <%= f.label :password_confirmation %><br />
     <%= f.password_field :password_confirmation %>
  </div>
  <br />

  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </div>
  <br />

  <div class="field">
    <%= f.label :neighbourhood %><br />
    <%= f.collection_select(:neighbourhood, Neighbourhood.all.order(:name), :id, :name, {:prompt => true}) %>
  </div>
  <br />

  <div>
    <%= f.label :profile_photo %><br />
    <%= f.file_field :avatar, multiple: false %>
  </div>
  <br />

  <div class="field">
     <%= f.submit %>
  </div>

<% end %>
