<%= form_for([@tool, @review]) do |f| %>

  <div>
    <%= f.text_area :comment %>
  </div>

  <div>
    <fieldset>
      <legend>Rating</legend>
      <%= f.label "1 Star" %>
      <%= f.radio_button(:rating, value="1") %>
      <%= f.label "2 Stars" %>
      <%= f.radio_button(:rating, value="2") %>
      <%= f.label "3 Stars" %>
      <%= f.radio_button(:rating, value="3") %>
      <%= f.label "4 Stars" %>
      <%= f.radio_button(:rating, value="4") %>
      <%= f.label "5 Stars" %>
      <%= f.radio_button(:rating, value="5") %>
    </fieldset>
  </div>

  <div>
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
