<%= form_for([@tool, @review]) do |f| %>

  <div>
    <%= f.text_area :comment %>
  </div>

  <div id="user-new-rating">Rating</div>

  <div>
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>

<script>
  $('#user-new-rating').raty({
    score: <%= @rating.score %>,
    path: '/assets'
  });
</script>
