<h1>Edit Review</h1>

<p><%= link_to("Back", tool_path(@review.tool_id), class: "back-button") %></p>

<%= form_for([@tool, @review]) do |f| %>

  <div>
    <%= f.text_area :comment %>
  </div>

  <div id="user-new-rating">Rating</div>

  <div>
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>

<script>
  var backButton = document.querySelector('.back-button');
  var oldScore = <%= @rating.score %>;

  backButton.addEventListener('click', function() {
    $.ajax({
      url: '/ratings/' + <%= @rating.id %>,
      method: 'PATCH',
      data: {score: oldScore}
    }).done(function(data) {
      console.log('reverted to old rating');
    })
  })

  $('#user-new-rating').raty({
    score: <%= @rating.score %>,
    path: '/assets',
    click: function(score, evt) {
      $.ajax({
        url: '/ratings/' + <%= @rating.id %>,
        type: 'PATCH',
        data: { score: score }
      });
    }
  });
</script>
