  <nav class='site-nav'>
    <a href = "/">
      <div class="logo">
      <%= image_tag "sharingthe6-01.png", class: "header-image" %>
    </div>
    </a>
      <div class="nav-links">

        <% if current_user %>
          <%= link_to "My Profile", user_path(current_user) %>
          <% if unread_message_count > 0 %>
            <%= link_to "Messages (#{unread_message_count})", chats_path %>
          <% else %>
            <%= link_to 'Messages', chats_path %>
          <% end %>
          <%= link_to 'Add Tool', new_tool_path %>
          <%= link_to "Logout", :logout, method: :delete %>
        <% else %>
          <%= link_to "Register", new_user_path %>
          <%= link_to "Login", :login %>
        <% end %>
    </div>

    <div class="hamburger-menu">
      <%= image_tag "icon.png", id: "hamburger-menu" %>
    </div>

      <div class="dropdown-content">
        <% if current_user %>

          <%= link_to "My Profile", user_path(current_user) %>
          <% if unread_message_count > 0 %>
            <%= link_to "Messages (#{unread_message_count})", chats_path %>
          <% else %>
            <%= link_to 'Messages', chats_path %>
          <% end %>
          <%= link_to 'Add Tool', new_tool_path %>
          <%= link_to "Logout", :logout, method: :delete %>
        <% else %>
          <%= link_to "Register", new_user_path %>
          <%= link_to "Login", :login %>
        <% end %>
      </div>
    </div>
  </nav>
