<!DOCTYPE html>
<html>
  <head>
    <title>Sharing the 6ix</title>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  </head>

  <body>

    <% flash.each do |key, message| %>
      <div class="flash-<%= key %>"><%= message %></div>
    <% end %>

    <header class="site-header">
      <%= render 'layouts/site-nav' %>
    </header>

    <div class="hero-section">
      <div id="hero-section-text">
        <strong>Sharing the 6ix</strong> is a Toronto neighbourhood borrowing network <br>where communities share their stuff.
      </div>

      <div class="main-buttons">
        <div class="empty">
        </div>

        <div id="start-borrowing-btn">
          <%= link_to(tools_path) do %>
            <p>Start Borrowing</p>
          <% end %>
        </div>
        <div id="start-lending-btn">
          <% if current_user %>
            <%= link_to("Start Lending", new_tool_path) %>
          <% else %>
            <%= link_to("Start Lending", new_user_path) %>
          <% end %>
        </div>
        <div class="empty">
        </div>
      </div>
    </div>
      <div class="container">
          <div class="search-bar">
            <%= form_tag(tools_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :tool, params[:tool], placeholder: "Search for an item you want to borrow! eg: hammer, bicycle, bouncy castle, etc. ", id:"tool-search" %>
            <%= collection_select(@table, :nbhd, Neighbourhood.all.order(:name), :name, :name, {:include_blank => "All Neighbourhoods", :selected => params[:nbhd]}) %>
            <%= submit_tag "Find tool" %>
            <% end %>
          </div>
      </div>

      <%= yield %>

    <div class="container">
      <div class="footer">
        <%= render 'layouts/footer' %>
      </div>
    </div>

  </body>
</html>
